body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-optical-sizing: auto;
  
}

.navbar{
    height: auto;
    background-color: #081b29;
    
}
.navbar .navbar-nav .nav-item a{
    color: (241, 236, 236);
    font-size: 1.1;
    padding: 1.1rem; 
    transition: .3s;     
}
.navbar .navbar-nav .nav-item a:hover{
    color: #00abf0;

}
